/* responsive */
@media screen and (max-width: 400px){
    header div{
        margin: 0;
    }

    header{
        padding: 0;
    }
}
/*  */
.containerimage {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

img {
	width: 600px;
	height: 400px;
	margin: 10px;
	transition: all 1s;
}

img:hover {
	transform: scale(1.1);
}